.programs-page-landing{
    height: 90vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../assets/programs.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}
.programs-hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(90vh - 90px)
}
.programs-hero-inner{
      width: 760px;
      text-align: center;
}
.programs-hero-content h1{
    font-size: 50px;
    color: white;
    line-height: 1.5;
}
.programs-hero-content p{
    font-size: 20px;
   color: whitesmoke;
   line-height: 1.75;
   font-weight: 300;
}

.programs-body{
     padding: 50px 0px 100px 0;
}

.programs-wrapper{
     border-top: 1px solid rgba(242, 242, 242, 0.75);
     margin-top: 100px;
     padding-top: 80px;
}
.programs-wrapper p{
     font-size: 32px;
     line-height: 1.5;
     width: 1000px;
     margin: auto;
     font-weight: 300;
     text-align: center;
}

.programs-row .service-moja{
     box-shadow: 0px 0px 5px -3px rgba(220, 220, 220, 0.75);
}




/* Single Program */
.single-program-body{
       padding: 100px 0 30px 0;
}

.single-program-body-content{
      width: 1000px;
      margin: auto;
}

.single-program-body-content p.intro{
       font-size: 24px;
       font-weight: 300;
       line-height: 1.75;
}

.single-program-body img{
       margin: 30px 0;
}


.more-description p{
      font-size: 18px;
      line-height: 1.75;
      font-weight: 300;
      margin-bottom: 20px;
}

.inner-row.adjust{
      padding-bottom: 100px;
}







@media(max-width: 1090px){
    .programs-hero-inner,
    .single-program-body-content,
    .programs-wrapper p{
        width: 90%;
    }

  .programs-row{
         grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px){
    .programs-hero-content h1{
           font-size: 40px;
           margin-bottom: 10px;
    }
    .programs-hero-content p{
          font-size: 17px;
    }

    .programs-row{
           grid-template-columns: 1fr;
    }

    .single-program-body-content p.intro{
           font-size: 20px;
    }
}