.work-page-landing{
    height: 50vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../assets/work.jpg") no-repeat;
    background-size: cover;
    background-position: 50%;
}

.work-hero-content{
    display: flex;
    height: calc(50vh - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-hero-content h1{
    color: whitesmoke;
    font-size: 65px;
}

.work-body{
    padding: 60px 0 100px 0;
}

.work-body-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.single-project-moja{
       cursor: pointer;
}
.single-project-image{
    position: relative;
    overflow: hidden;
}
.single-project-image p{
      padding: 10px 30px;
      position: absolute;
      top: 10px;
      left: 4%;
      background: rgba(200, 136, 26, 0.712);
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      color: whitesmoke;
      font-size: 14px;
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
}
.single-project-moja:hover .single-project-image p{
     transform: translateY(0);
     -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
     -ms-transform: translateY(0);
     -o-transform: translateY(0);
}
.single-project-moja img{
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      height: 350px;
}
.single-project-image span{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
       display: flex;
       width: 60px;
       height: 60px;
       align-items: center;
       justify-content: center;
       background: white;
       border-radius:60px ;
       -webkit-border-radius:60px ;
       -moz-border-radius:60px ;
       -ms-border-radius:60px ;
       -o-border-radius:60px ;
       color: var(--main-color);
       opacity: 0;
       transition: all 0.75s ease;
       -webkit-transition: all 0.75s ease;
       -moz-transition: all 0.75s ease;
       -ms-transition: all 0.75s ease;
       -o-transition: all 0.75s ease;
       cursor: pointer;
}
.single-project-moja:hover .single-project-image span{
       opacity: 1;
}
.project-texts h3{
     font-family: var(--regular-font);
     font-size: 23px;
     margin: 10px 10px 5px 10px;
     font-weight: 500;
     line-height: 1.4;
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
}
.single-project-moja:hover .project-texts h3{
    color: var(--main-color);
}
.project-texts h4{
      font-family: var(--regular-font);
      margin: 0 10px;
      font-weight: 500;
}
.project-texts  h4 span{
    font-weight: 300;
}

@media(max-width: 1090px){
     .work-body-content{
          grid-template-columns: 1fr 1fr;
     }
}

@media(max-width: 768px){
     .work-body-content{
            grid-template-columns: 1fr;
     }
     .work-hero-content h1{
            font-size: 50px;
     }
}

@media(max-width: 530px){
    .work-hero-content h1{
          font-size: 40px;
    }
}